body{
    background-color: #48402C!important;
}

.upgrade-block {
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    width: 95%;
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgb(51 51 51) 0%, rgba(51, 51, 51, 0.7) 100%);

    /* --- */


  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none solid rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(22, 22, 22);
  border-radius: 12px;


}



.upgrade-box {
    padding: 5px 10px;

    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: #2c2c2c2e 2px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.upgrade-box:active {
    transition: .2s;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(43, 43, 43);
    border-radius: 10px;

}
.upgrade-icon-box {
/*     background: rgba(210, 210, 210, 0.8);
 */    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(45, 45, 45);

    
}
.upgrade-icon {
    width: 30px;
    height: 30px;
}
.upgrade-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 300;

    width: max-content;}
.upgrade-name-bottom{
    display: flex;
    gap: 5px;
    width: max-content;
    font-weight: 300;
}
.upgrade-name {
    width: max-content;
    font-size: 14px;
    font-weight: 800;
}
.upgrade-level {
    width: max-content;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.744);
}
.upgrade-amount {
    width: max-content;
    font-size: 14px;
    font-weight: 200;
}

.price-box{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-basis: 100%;
    justify-content: flex-end;
}

.upgrade-price {
    width: 100%;
    font-weight: 100;
    color: #ffbf1e;
    flex-basis: 100%;
    text-align: end;
    align-items: center;
}

