.friends-amount-box {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    z-index: 7;
}
.friends-amount {
    color: rgb(255, 255, 255);
font-family: Arimo;
font-size: 60px;
font-weight: 700;
line-height: 69px;
letter-spacing: 0px;
text-align: left;
}
.friends-text {
    color: rgba(245, 245, 245, 1);
font-family: Arimo;
font-size: 35px;
font-weight: 900;
line-height: 40px;
letter-spacing: 0px;
text-align: left;
}
.friends-block {
    height: max-content;
    max-height: 100%;
    min-height: 50%;
    overflow-y: scroll;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    width: 95%;
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgb(51 51 51) 0%, rgba(51, 51, 51, 0.7) 100%);

    /* --- */


  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none solid rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(22, 22, 22);
  border-radius: 12px;
}
.friends-nothing-text{
    margin: 20% auto;
}
.friends-box {
    padding: 5px 10px;

    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: #2c2c2c2e 2px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.friends-box:active {
    transition: .2s;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(43, 43, 43);
    border-radius: 10px;

}

.friends-icon-box {
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(45, 45, 45);

}
.friends-icon {
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(45, 45, 45);

}
.friends-icon {
    width: 30px;
    height: 30px;
}
.friends-info {
    display: flex;
    flex-direction: column;
}
.friends-name-bottom{
    display: flex;
    gap: 5px;
}
.friends-name {
    color: rgb(255, 255, 255);
font-family: Arimo;
font-size: 16px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0px;
text-align: center;
}
.friends-price {
    flex-basis: 100%;
    text-align: end;
}

.invite-btn{
margin: 20px 0px;
    color: rgb(255, 255, 255);
font-family: Arimo;
font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0px;
text-align: center;
    border-radius: 20px;
background: rgb(255, 96, 69);
width: 300px;
height: 40px;
z-index: 7;
}

.friends-reward-box{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-basis: 100%;
    justify-content: flex-end;
}
